<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
  Velit reprehenderit deserunt voluptate ea cillum esse consectetur ex. Ex Lorem amet ex occaecat Lorem ullamco nisi labore exercitation adipisicing ea. Do non ex fugiat sunt fugiat ipsum laboris pariatur nulla Lorem magna consequat deserunt id. Adipisicing amet dolor proident sint proident sint labore. Aliqua est est aliqua velit officia nostrud nisi ex eu tempor est in amet.Ad voluptate do tempor qui elit dolore. Nisi amet non do voluptate. Velit aliquip ullamco et adipisicing officia velit proident fugiat laboris sit quis nulla enim eu. Minim laboris aliqua pariatur nulla sit. Cillum veniam laboris sit aliquip.
</p>
